
@media screen and (min-width: 0) {
    .title__bio {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.5rem;
        margin-top: 2rem;

    }

}

@media screen and (min-width: 768px) {

    .title__bio { 
        font-weight: 700;
        font-size: 3.25rem;
        line-height: 61px;  
    }

}
